# Environment variables
.env

# PlantVillage dataset
PlantVillage-Dataset/plant-disease-identifier/PlantVillage-Dataset.zip
plant-disease-identifier/PlantVillage-Dataset.zip
plant-disease-identifier/PlantVillage-Dataset/
